Package: com.chewmieser.noncheader
Name: noNCheader
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Hides notification center widget headers
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
Version: 1.0-5
Installed-Size: 200
