Package: com.chewmieser.freefall
Name: FreeFall
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Phone screams when dropped
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
Version: 1.0-17
Installed-Size: 260
