Package: com.chewmieser.freefall
Name: FreeFall
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Phone screams when dropped
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
Version: 1.1-1
Installed-Size: 444
