Package: com.chewmieser.freefall
Name: FreeFall
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Phone screams when dropped
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
Depiction: http://apt.steverolfe.com/depiction/freefall.html
Version: 1.6-14
Installed-Size: 680
