<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>statusVolLiteHeader</string>
			<key>footerText</key>
			<string>Crafted by Steve Rolfe (Chewmieser)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Theming Options</string>
			<key>icon</key>
			<string>brush.png</string>
			<key>detail</key>
			<string>themeListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Animation Options</string>
			<key>icon</key>
			<string>animate.png</string>
			<key>detail</key>
			<string>animationListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Legacy Options</string>
			<key>icon</key>
			<string>legacy.png</string>
			<key>detail</key>
			<string>legacyListController</string>
		</dict>
	</array>
	<key>title</key>
	<string>StatusVol 2</string>
</dict>
</plist>
