<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>PostNotification</key>
			<string>com.chewmieser.statusvol.prefs-changed</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.chewmieser.statusvol</string>
			<key>key</key>
			<string>statusvol.enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>label</key>
			<string>Off Transparency</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>PostNotification</key>
			<string>com.chewmieser.statusvol.prefs-changed</string>
			<key>default</key>
			<real>0.25</real>
			<key>defaults</key>
			<string>com.chewmieser.statusvol</string>
			<key>key</key>
			<string>statusvol.offTrans</string>
			<key>min</key>
			<string>0.00</string>
			<key>max</key>
			<string>0.99</string>
		</dict>
	</array>
	<key>title</key>
	<string>StatusVol</string>
</dict>
</plist>
