Package: com.chewmieser.bolt
Name: bolt
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Removes battery icon
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
