Package: com.chewmieser.freefall
Name: FreeFall
Depends: mobilesubstrate
Version: 1.5
Architecture: iphoneos-arm
Description: Phone screams when dropped
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
