Package: com.chewmieser.statusvol
Name: statusvol
Depends: mobilesubstrate
Version: 0.2.0
Architecture: iphoneos-arm
Description: Places the volume HUD in the statusbar
Maintainer: Steven Rolfe
Author: Steven Rolfe
Section: Tweaks
Depiction: http://apt.steverolfe.com/depiction/statusvol.html
